*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
    h1, h2, h3{
        font-family: "Crimson Text", serif;
        font-weight: 700;
        font-style: normal;
    }
    .background{
        width: 100%;
        height: auto;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 50px;
        #topContainer{
            width: 800px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            background-color: #00000099;
            border: #c5c1b2 3px solid;
            border-radius: 7px;
            padding: 10px;
            .nombreText{
                font-size: 2.3rem;
                color:#c5c1b2;
                padding-left: 10px;
                text-shadow:
                2px 2px 0 #000,
                -2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000;
            }
            #inputNombre{
                width: 27rem;
                height: 2.8rem;
                font-size: 2.3rem;
                background-color: #00000099;
                border: #c5c1b2 1px solid;
                font-family: "Crimson Text", serif;
                font-weight: 700;
                font-style: normal;
                color:#c5c1b2;
                padding: .5em;
            }
            #vidaContainer{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .vidaText{
                    padding-left: 20px;
                    color: #666691;
                    font-size: 1.7rem;
                    text-shadow:
                    2px 2px 0 #000,
                    -2px 2px 0 #000,
                    -2px -2px 0 #000,
                    2px -2px 0 #000;
                }
            }
        }
        #puntajeContainer{
            width: 800px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;
            .puntajeText{
                color: #c5c1b2;
                font-size: 2.3rem;
                text-shadow:
                2px 2px 0 #000,
                -2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000;
            }
        }
        #containerHighscore{
            width: 800px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;
            #highscoreText{
                color: #c5c1b2;
                font-size: 2.3rem;
                text-shadow:
                2px 2px 0 #000,
                -2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000;
            }
        }
        #coinContainer{ 
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #000000bf;
            width: 300px;
            padding-top: 20px;
            padding-bottom: 20px;
            border: #c5c1b2 3px solid;
            border-radius: 7px;
            #coinImg{
                height: 110px;
                width: 110px;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            #opcionesContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .boton{
                    color: #c5c1b2;
                    font-size: 1.3rem;
                    width: 150px;
                    height: 50px;
                    border: #c5c1b2 1px solid;
                    background-color: #00000099;
                }
                .botonDown{
                    background-color: #44444499;
                }
            }
        }
        .mensajeCard{
            width: 600px;
            background-color: #000000bf;
            margin-bottom: 70px;
            border: #ebebeb8c 3px solid;
            padding: 20px;
            display: flex;
            align-items: center;
            .mensajeText{
                color: #c5c1b2;
                font-size: 2.2rem;
                margin-right: 8px;
            }
            .mensajeItem{
                color: #d66253;
                font-size: 2.2rem;
            }
        }
        .mensajeCardVida{
            width: 600px;
            background-color: #000000bf;
            margin-bottom: 70px;
            border: #ebebeb8c 3px solid;
            padding: 20px;
            display: flex;
            flex-direction: column;
            .mensajeText{
                color: #c5c1b2;
                font-size: 2.2rem;
                margin-right: 8px;
            }
            .mensajeItem{
                color: #d66253;
                font-size: 2.2rem;
            }
        }
        .inventario{
            width: 800px;
            height: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 5px;
            .inventarioText{
                color: #c5c1b2;
                font-size: 2.3rem;
                text-shadow:
                2px 2px 0 #000,
                -2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000;
            }
        }
        #containerInventario{
            width: 800px;
            padding: 20px;
            background-color: #000000bf;
            border: #c5c1b2 3px solid;
            border-radius: 7px;
            margin-bottom: 70px;
            .itemCard{
                display: flex;
                justify-content:space-between;
                align-items: center;
                padding-top: 5px;
                padding-bottom: 5px;
                .itemImg{
                    background-color: #c5c1b2;
                    border-radius: 5px;
                    box-shadow: 0px 0px 10px 0px #c5c1b2;
                }
                .itemName{
                    color: #c5c1b2;
                    font-size: 1.8rem;
                }
                .itemPoints{
                    color: #c5c1b2;
                    font-size: 1.8rem;
                }
            }
        }
        #containerReload{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 70px;
            .boton{
                color: #c5c1b2;
                font-size: 1rem;
                width: 200px;
                height: 50px;
                border: #c5c1b2 1px solid;
                border-radius: 5px;
                background-color: #000000f0;
            }
            .botonDown{
                background-color: #222222d2;
            }
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:#000000f0;
        padding: 30px;
        border-top: #c5c1b2 2px solid;
        .footerText{
            color: #c5c1b2;
            font-size: 1.2rem;
        }
    }
}